body {
    background-color: #990909;
}
h1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;   
}
ul {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 220px;
    position: absolute;
}
li {
    display: block;
    position: relative;
    top: 35px;
    left: 0;
    right: 20px;
    bottom: 40px;
    color: white;
    text-align: center;
    height: 180px;
    width: 200px;
}
.main {
    display: inline-block;
    width: 810px;
    height: 300px;
    position: absolute;
    top: 290px;
    left: 320px;
}

.left-aside {
    display: inline-block;
    background-color: #7D0909;
    width: 300px;
    height: 400px;
    position: absolute;
    top: 275px;
    left: 10px;
    
}
.right-aside {
    display: inline-block;
    background-color: #E3DDDD;
    width: 200px;
    height: 400px;
    position: absolute;
    top: 275px;
    right: 5px;
}
a {
    color: #E22D0A;
    font-size: 18px;
    
}
h2 {
    background-color: #BDBDBD;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
p {
    font-size: 18px;
}
hr {
    width: 100px;
}
main p {
    color: white;
}
footer {
    font-size: 20px;
    width: 100%;
    height: 30px;
    background-color: #E95B11;
    text-align: center;
    margin: 650px 0 0 0;
    

}
footer h3 {
    color: white;
    padding: 5px;
}
